# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/PRXDecompiler/*.cproject
/PRXDecompiler/*.project
/PRXTool/*.project
/PRXTool/*.cproject
/SGDeemer/*.project
/SGDeemer/*.cproject
/kxploit/*.project
/kxploit/*.cproject
